<html>
<head>
    <title> Dublin Airlines - Book a Flight </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" >  

    <style>
        body{
            background-color: #f8f9fa;
            padding:20px;
        }

        .navBar{
            background-color: #572A79;
        }

        .navBar a{
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            display: inline-block;
        }

        .footer{
            text-align: center;
            color: #572A79;
            margin-top: auto;
            padding: 20px;
        }
    </style>
</head>

<body>
    <nav class ="navBar">
        <a href="/">Flights</a>
        <a href="/bookings/">Bookings</a>
        {% if user.is_staff or user.groups.all.0.name == 'Travel Agent'%}
        <a href="/passengers/">Passengers</a>
        {% endif %}
        {% endif %}
        <a href="/invoices/">Invoices</a>
        <a href="/logout/">Logout</a>
    </nav>



    <div class ="bookFlight">
        <h1> Book your flight below </h1>
        <p>Flight: {{ flight.flight_number }}</p>
        <p>Departure: {{ flight.departure }}</p>
        <p>Destination: {{ flight.destination }}</p>
        <p>Price: ${{ flight.price }}</p>

        <form method="post">
            {% csrf_token %}
           <p>Seat class:</p>
            <select name="seat_class" required>
                <option value="First Class">First Class</option>
                <option value="Economy">Economy</option>
                <option value="Business">Business</option>
            </select>   
            <button type="submit">Book Flight</button>
        </form>
        <a href="/"> View flights</a>
    </div>

    <div class="footer">
        <p> Dublin Airlines © 2026 </p>
    </div>
</body>
</html>