<html>
<head>
    <title> Dublin Airlines - Book a Flight </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" >  

    <style>
        body{
            background-color: #f8f9fa;
            padding:20px;
        }

        .navBar{
            background-color: #572A79;
        }

        .navBar a{
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            display: inline-block;
        }

        .footer{
            text-align: center;
            color: #572A79;
            margin-top: auto;
            padding: 20px;
        }
    </style>
</head>

<body>
    <nav class ="navBar">
        <a href="/login">Login</a>"
        <a href="/">Flights</a>
        <a href="/bookings/">Bookings</a>
        <a href="/passengers/">Passengers</a>
        <a href="/invoices/">Invoices</a>
    </nav>


    <div class ="loginForm">
        <h1> Login  </h1>
        {% if error %}
        <p style = "color:red;"> {{error}}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <p>Username: <input type="text" name="username"></p>
            <p>Password: <input type="password" name="password"></p>
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="/register/" style="color: #572A79;">Register here</a></p>
    </div>

    <div class="footer">
        <p> Dublin Airlines © 2026 </p>
    </div>
</body>
</html>